---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2018
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

qat_driver_version: 4.9.0
qat_version: "1.7.l.{{ qat_driver_version }}-00008"
qat_driver_dest: "/tmp/qat_driver"
qat_driver_url: "https://01.org/sites/default/files/downloads/qat{{ qat_version }}.tar.gz"
qat_plugin_mode: dpdk

# User process configuration
shim:
  num_crypto_instances: 1
  num_decompression_instances: 0
  num_processes: 24  # Indicates the maximum number of processes that can call icp_sal_userStart on this instance. Warning: the ressources are preallocated: if NumProcesses is too high, the driver will fail to load
  limit_dev_access: 0
