---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2019
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

- name: get intel_qat version
  shell: PATH=$PATH:/usr/sbin/:/sbin/ modinfo intel_qat | grep "^version:" | awk '{ print $2 }'
  register: intel_qat_version
  changed_when: false

- debug:
    var: intel_qat_version

- include: cleanup.yml
  when: intel_qat_version.stdout != qat_driver_version

- include: bootstrap.yml
  when: intel_qat_version.stdout != qat_driver_version

- include: build.yml
  when: intel_qat_version.stdout != qat_driver_version

- name: create qat_service systemd wrapper
  become: yes
  copy:
    src: qat_service.service
    dest: /etc/systemd/system/qat_service.service
  when: ansible_os_family in ['ClearLinux', 'Suse']
  notify:
    - start qat_service service

- name: configure number of processes per qat device
  block:
  - name: get qat devices
    shell: >
           /usr/local/bin/adf_ctl status | grep up |
           awk '{print $4 substr($1, 4)}' | tr -d ','
    register: qat_devices
  - name: ensure SHIM config section
    blockinfile:
      dest: "/etc/{{ item }}.conf"
      block: |
        [SHIM]
        NumberCyInstances = {{ shim.num_crypto_instances }}
        NumberDcInstances = {{ shim.num_decompression_instances }}
        NumProcesses = {{ shim.num_processes }}
        LimitDevAccess = {{ shim.limit_dev_access }}
        # Crypto - User instance #0
        Cy0Name = "UserCY0"
        Cy0IsPolled = 1
        # List of core affinities
        Cy0CoreAffinity = 0
    loop: "{{ qat_devices.stdout_lines }}"
  - name: restart qat services
    command: /usr/local/bin/adf_ctl restart
  when: qat_plugin_mode == "kernel"
