translations:
  - name: ubuntu/20.04
    url: https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img
  - name: ubuntu/22.04
    url: https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img
  - name: ubuntu/24.04
    url: https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img
  - regexp: 'centos/(\d+)-(\d+)'
    url: 'https://cloud.centos.org/centos/$1/images/CentOS-$1-x86_64-GenericCloud-$2.qcow2'
  - name: fedora
    url: https://download.fedoraproject.org/pub/fedora/linux/releases/30/Cloud/x86_64/images/Fedora-Cloud-Base-30-1.2.x86_64.qcow2
{% if lookup('env','http_proxy') != "randomfoobarstring" %}
transports:
  "": 
    proxy: "{{ lookup('env','http_proxy') }}"
{% endif %}
