---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2019
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

- name: get service status
  service_facts:

- name: disable AppArmor in all nodes
  become: true
  service:
    name: apparmor
    state: stopped
    enabled: false
  when:
    - ansible_os_family == "Debian"
    - ansible_facts.services["apparmor.service"] is defined

- name: disable SELinux in all nodes
  selinux:
    state: disabled
  when:
    - ansible_os_family == "RedHat"
    - ansible_facts.services["selinux.service"] is defined

- name: check that kubelet env file exists
  stat:
    path: /etc/kubernetes/kubelet.env
  register: kubelet_env_stat

- debug:
    var: kubelet_env_stat

- name: create dockershim service
  become: true
  block:
    - name: remove leftovers
      file:
        path: /var/run/dockershim.sock
        state: absent
    - name: get kubelet version
      shell: /usr/local/bin/kubelet --version | awk '{ gsub(/v/,""); print $2 }'
      register: kubelet_version
      changed_when: false
    - debug:
        var: kubelet_version
    - name: Stop if kubelet doesn't support --experimental-dockershim option
      assert:
        that: kubelet_version.stdout is version('1.19', '<')
        msg: "Kubelet has removed its Experimental Dockershim option. See https://github.com/kubernetes/kubernetes/commit/53adde65ce000c4d90ee8f807e90658426733a5"
    - name: create dockershim service
      copy:
        mode: '0644'
        src: dockershim.service
        dest: /etc/systemd/system/dockershim.service
    - name: start dockershim service
      service:
        name: dockershim
        state: started
        enabled: true
      notify:
        - restart criproxy service
    - name: wait for dockershim socket to be created
      wait_for:
        path: "{{ cri_socket_path }}"
        delay: 5
        timeout: 600
  when:
    - kubelet_env_stat.stat.exists
    - ansible_facts.services["docker.service"] is defined

- name: create CRIProxy binary folder
  file:
    mode: '0755'
    state: directory
    path: "{{ criproxy_dest }}"

- name: check that criproxy binary exists
  stat:
    path: "{{ criproxy_dest }}/criproxy"
  register: criproxy_stat

- debug:
    var: criproxy_stat

- name: download CRIproxy package
  command: curl -Ls -o {{ criproxy_dest }}/criproxy {{ criproxy_url }}  # noqa command-instead-of-module
  when: not criproxy_stat.stat.exists

- name: set criproxy execution permissions
  file:
    path: "{{ criproxy_dest }}/criproxy"
    mode: "+x"

- name: recreate criproxy service
  become: true
  template:
    mode: preserve
    src: criproxy.service.j2
    dest: /etc/systemd/system/criproxy.service

- name: start criproxy service
  become: true
  service:
    name: criproxy
    state: started
    enabled: true

- name: modify args for kubelet service
  become: true
  lineinfile:
    mode: '0644'
    dest: /etc/kubernetes/kubelet.env
    insertafter: '^--pod-infra-container-image=*'
    line: '--container-runtime=remote --container-runtime-endpoint=unix:///run/criproxy.sock --image-service-endpoint=unix:///run/criproxy.sock --enable-controller-attach-detach=false \'
    state: present
  when:
    - ansible_facts.services["kubelet.service"] is defined
    - ansible_facts.services["docker.service"] is defined
  notify:
    - restart kubelet service
