{% for net_attach_def in network_attachment_definitions %}
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ net_attach_def.name }}
  annotations:
    k8s.v1.cni.cncf.io/resourceName: {{ net_attach_def.resourceName }}
spec:
  config: |
{{ net_attach_def.config | to_json | safe | indent(4, True) }}
{% endfor %}
