---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2022
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Check Corner cases
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.sh"
      - "!ci/update_*.sh"
      - "*.yml"
      - "!playbooks/**/*.yml"
      - "*.tpl"
      - "*.env"
      - "resources/*"
      - "!**.md"
  pull_request_review:
    types:
      - submitted
jobs:
  check-corner-cases:
    name: Check K8s Plugins installation methods in an Ubuntu Bionic All-in-One setup
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    runs-on: vm-self-hosted
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        test: [kong, rook, haproxy]
        cert-mgr: [false]
        include:
          - test: kubewarden
            cert-mgr: true
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/vagrant-up
        with:
          cert-manager-enabled: ${{ matrix.cert-mgr }}
          enable-tests: true
          int-tests: ${{ matrix.test }}
