---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Integration tests
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.sh"
      - "!ci/update_*.sh"
      - "*.yml"
      - "!playbooks/**/*.yml"
      - "*.tpl"
      - "*.env"
      - "resources/*"
      - "!**.md"
  pull_request_review:
    types:
      - submitted
jobs:
  check-ci:
    name: Check Integration tests in an Ubuntu Focal Virtual Machines
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    runs-on: vm-self-hosted
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - runtime: crio
            kata_containers_enabled: false # TODO: Investigate deployment issues with Kata containers
            crun_enabled: true
            gvisor_enabled: true
            youki_enabled: true
          - runtime: containerd
            kata_containers_enabled: false # TODO: Investigate deployment issues with Kata containers
            crun_enabled: true
            gvisor_enabled: true
            youki_enabled: true
          - enable_tests: true
            metallb_enabled: true
            int_tests: "metallb istio"
          - enable_tests: true
            krew_plugins_list: "virt"
            int_tests: "kubevirt topolvm"
          - enable_tests: true
            int_tests: "knative longhorn cnpg"
          - test_multinode: true
            run_conformance_tools: true
          - enable_tests: true
            int_tests: "falco kyverno gatekeeper"
          - krew_plugins_list: "cert-manager"
            enable_tests: true
            int_tests: "virtink"
            cert_manager_enabled: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/vagrant-up
        with:
          container-runtime: ${{ matrix.runtime }}
          kata-containers-enabled: ${{ matrix.kata_containers_enabled }}
          crun-enabled: ${{ matrix.crun_enabled }}
          gvisor-enabled: ${{ matrix.gvisor_enabled }}
          youki-enabled: ${{ matrix.youki_enabled }}
          enable-tests: ${{ matrix.enable_tests }}
          krew-plugins-list: ${{ matrix.krew_plugins_list }}
          metallb-enabled: ${{ matrix.metallb_enabled }}
          int-tests: ${{ matrix.int_tests }}
          test-multinode: ${{ matrix.test_multinode }}
          run-conformance-tools: ${{ matrix.run_conformance_tools }}
          cert-manager-enabled: ${{ matrix.cert_manager_enabled }}
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    outputs:
      scripts: ${{ steps.filter.outputs.scripts }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # 3.0.2
        if: ${{ !env.ACT }}
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            scripts:
              - '**.sh'
  check-format:
    name: Check scripts format
    if: needs.changes.outputs.scripts == 'true'
    needs: changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2 # 0.9.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHFMT_OPTS: -i 4 -s
        with:
          sh_checker_shellcheck_disable: true
          sh_checker_exclude: "playbooks/roles/pmem/ spec/"
  check-shellspec:
    name: Run BDD shell specs
    if: needs.changes.outputs.scripts == 'true'
    needs: changes
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - name: Install ShellSpec
        run: curl -fsSL https://github.com/shellspec/shellspec/releases/latest/download/shellspec-dist.tar.gz | tar -xz -C ..
      - name: Run Shellspec
        shell: 'script -q -e -c "bash {0}"'
        run: ../shellspec/shellspec --profile --xtrace
